.header-color {
 background: #FDC830;
background: -webkit-linear-gradient(to right, #F37335, #FDC830);
background: linear-gradient(to right, #F37335, #FDC830); 
}

.home-grid {
  background: #FDC830;
 background: -webkit-linear-gradient(to right, #F37335, #FDC830);
 background: linear-gradient(to right, #F37335, #FDC830); 
 text-align: center;
 height: 100%;
 position: fixed;
 width: 100%;
 top:0;
 left: 0
 }

 .avatar {
   height:400px;
   padding-top: 5em;
   border-radius: 20em;
 }

 .banner {
   background-color: black;
   opacity: .8;
   width: 75%;
   margin:auto;
   border-radius: 10px;
   
 }

 .banner h1 {
   font-size: 50px;
   font-weight: 400;
   color: white;
   padding-left: 40px
 }

 .banner hr {
   border-top: 5px dotted white;
   width:50%;
   margin: auto
 }

 .banner p {
   color: white;
   font-size: 20px;
   padding:1em;   
 }

 .social-links {
   display: flex;
   justify-content: space-between;
   width:50%;
   margin: auto;
 }

 .social-links i {
   color: white;
   font-size: 5em;
   padding:8px
 }

 .projects-grid {
   display: flex;
   justify-content: space-between;
   width:75%;
   margin: auto;
 }
 
 .contact-body {
   margin: auto;
   position: fixed;
   width: 100%;
   height: 100%;
   padding-top: 2em;
   justify-content: center;
 }

 .contact-grid {
   text-align: center;
   justify-content: center;
   width:80%;
   height: 550px;
   margin-bottom: 20px
 }

 .contact-grid p {
   width: 75%;
   margin: auto;
   padding-top: 1em;
   font-size: 15px;
   font-family: 'Oxygen', sans-serif;
   font-weight: bold;
 }

 .contact-grid h2 {
  font-family: 'Anton', sans-serif;
 }

 .contact-grid hr {
   border-top: 5px dotted black;
   width: 50%;
   margin: auto;
 }

 .contact-list i {
   font-size: 66px;
   padding-right: 4rem
 }

 .left-column {
   text-align: center;
 }

 .right-column {
   background-color: #27221F;
   color: white;
   box-shadow: 3px 3px 3px 3px rgba(0,0,0,.2); 
   padding-left: 2em
  }

 .resume-content {
   justify-content: center
 }

 .resume-content h2 {
  padding-top: 1em;
  font-family: 'Anton', sans-serif;
 }

 .resume-content h4 {
  font-family: 'Oxygen', sans-serif;
 }

 .resume-content hr {
   border-top: 3px solid #fede0f;
   width: 70%
 }

 .resume-content p {
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
 }

 .workers-content img {
  height: 100px;
  border-radius: 100px;
 }

 .workers-content h4 {
  padding-left: 40px;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
 }
 
 .workers-content p {
  padding-left: 40px;
  font-family: 'Oxygen', sans-serif;
 }